<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical Dusical Player</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="home-page">
        <h1>Musical Dusical Player</h1>
        <div class="button-container">
            <a href="/browse"><button>Browse Music</button></a>
            <a href="/create-playlist"><button>Create New Playlist</button></a>
            <a href="/profile"><button>User Profile</button></a>
        </div>
    </div>
</body>
</html>
