<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="profile-page">
        <button class="go-back-btn" onclick="window.location.href='/'">Go Back to Home</button>
        
        <div class="content">
            <!-- Left column: Profile Picture -->
            <div class="left-profile">
                <img src="images/daddy.png" alt="Profile Picture" width="350">
                <h3 class="user-name">Lord Bridgerton</h3>
                <p class="user-handle">User01</p>
            </div>
            
            <!-- Right column: Playlists -->
            <div class="right-profile">
                <h1 class="right-heading">My Playlists</h1>

                <div class="right-playlist">
                    <% playlists.forEach(playlist => { %>
                        <a class="playlist-link" href="/playlist/<%= playlist.id %>">
                            <p class="playlist-song"><%= playlist.name %></p>
                            <span class="play-btn">
                                <i class="material-icons">play_arrow</i>
                            </span>  
                        </a>
                    <% }) %>
                </div>
            </div>

        </div>
    </div>
</body>
</html>


