:root {
    --black: #161515; 
    --white: #FFFFFF;
    --blue: #7DDBD8;
    --dark-blue: #47AFAB;
    --light-blue: #C6FFFD;
    --green: #A5E7AC;
    --dark-green: #98D49E;
    --light-green: #B9FFC1;
    --pink: #E48585;
    --dark-pink: #C67777;
    --light-pink: #FF9797;
    --yellow: #FFF8B8;
    --dark-yellow: #FFF38C;
    --light-yellow: #E5DEA3;
}

body {
    background-color: var(--green);
}

.song-button {
    display: flex;
    width: 100%;
    background-color: transparent;
    color: var(--black);
}

.song-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.song-button:hover {
    background-color: var(--dark-green);
}